.cardEditContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    font-family: 'Satoshi';
}

.cardEditContainer span {
    align-self: center;
}

.cardEditContainer p {
    padding: 10px;
}

.cardEditContainer input,
.cardEditContainer select {
    width: 250px;
    height: 58px;
    text-align: center;
    padding: 10px;
    font-family: 'Satoshi';
    font-weight: 600;
    font-size: 16px;
    margin: 10px;
    border-radius: 10px;
}

.cardEditContainer select {
    width: 275px;
    height: 68px;
}

.cardEditContainer textarea {
    width: 280px;
    height: 58px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.cardEditContainer span button {
    width: 250px;
    height: 58px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(51, 175, 72);
    color: white;
    font-family: "Satoshi";
    font-weight: 600;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cardEditContainer span button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
}