.spinner {
    border: 10px solid #f3f3f3;
    border-top: 12px solid #A128FF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.cardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-self: center;
    padding-top: 30px;
    gap: 11.14px;

}

@media screen and (max-width: 900px) {
    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 700px) {
    .cardsContainer {
        grid-template-columns: 1fr;
        padding: 20 10px;
        justify-self: center;
    }
}

.card {
    width: 316px;
    height: 360px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 0px rgba(211, 211, 211, 0.15);
    position: relative;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.profile {
    padding-left: 10px;
}

.postTime {
    width: 55px;
    height: 19px;
    background-color: rgba(176, 217, 255, 1);
    position: absolute;
    top: 18px;
    right: 10px;
    bottom: 7px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.jobRole {
    color: rgba(0, 0, 0, 1);
    font-family: 'Satoshi', sans-serif;
    font-size: 20px;
    padding-left: 10px;

}

.secondRow {
    width: 263px;
    display: flex;
    gap: 10px;
    padding-left: 15px;
    font-size: 16px;
    color: rgba(90, 90, 90, 1);
}

.experience,
.worklocation,
.salaryLPA {
    text-wrap: nowrap;
}

.description {
    font-size: 14px;
    color: rgba(85, 85, 85, 1);
    padding-left: 30px;
    line-height: 18px;

}

.applybtn {

    width: 284px;
    height: 46px;
    border-radius: 10px;
    border: 1px solid rgba(0, 170, 255, 1);
    background-color: rgba(0, 170, 255, 1);
    box-shadow: 0px 0px 14px 0px rgba(93, 93, 93, 0.15);
    align-self: center;
    font-family: 'Satoshi', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: center;
}