* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #FBFBFF;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

body::-webkit-scrollbar {
    display: none;
}