* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FBFBFF;
    display: flex;
    justify-content: center;
    font-family: 'Satoshi' !important;
}

body::-webkit-scrollbar {
    display: none;
}