#ShowBox {
    display: block;
}

#NotShowBox {
    display: none;
}

.JobAddingContainer {
    width: 848px;
    height: 779px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 0px rgba(169, 169, 169, 0.25);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 0px 500px rgba(218, 220, 221, 0.75);
    -webkit-box-shadow: 1px 1px 0px 500px rgba(218, 220, 221, 0.75);
    -moz-box-shadow: 1px 1px 0px 00px rgba(218, 220, 221, 0.75);
    z-index: 5;
}

.jobAddingInnerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    font-family: 'Satoshi' !important;
}

.JobAddingHeading {
    font-family: 'Satoshi' !important;
    font-size: 24px;
    font-weight: 700;
    color: rgba(34, 34, 34, 1);
    text-align: center;
    padding-top: 30px;
}

.closeSymbol {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.closeSymbol:hover {
    font-size: 22px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.lineOne {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.lineTwo {
    width: 376px;
    height: 91px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-left: 24px;
    gap: 48px;
    padding-top: 20px;

}

.lineThree,
.lineFour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 20px;


}

.inputBoxCont {
    width: 376px;
    height: 91px;
}

.title {
    width: 376px;
    height: 27px;
    font-family: 'Satoshi' !important;
    font-size: 20px;
    font-weight: 600;
    color: rgba(99, 99, 99, 1);
}

.inputBox {
    width: 376px;
    height: 58px;
    border-radius: 10px;
    border: 1px solid rgba(188, 188, 188, 1);
    padding-left: 10px;
}

.inputBox::placeholder {
    padding: 5px;
    font-family: 'Satoshi' !important;
    font-size: 16px;
    font-weight: 500;
    color: rgba(188, 188, 188, 1);
}


.lineTwo .dropDownInputBox {
    box-shadow: none;
}


.dropDownInputBox {
    width: 388px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgba(188, 188, 188, 1);
    font-family: 'Satoshi' !important;
    font-size: 16px;
    font-weight: 500;
    color: rgba(188, 188, 188, 1);
    padding-left: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff url('../Images/createjobdownarrow.png') no-repeat right 20px center;
    background-size: 14px 7px;

}

.dropDownInputBox {
    border-radius: 10px;
    box-shadow: 0px 0px 14px 0px #93939340;
}

.salaryInput {
    width: 376px;
    height: 91px;
    display: flex;
    gap: 40px;
}

.salaryInput input::-webkit-outer-spin-button,
.salaryInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.salaryInput input[type="number"] {
    width: 183px;
    height: 58px;
    border-radius: 10px;
    padding-left: 10px;
    border: 1px solid rgba(188, 188, 188, 1);
}

.application {
    margin-left: 9px;
}

.application input {
    width: 386px;
    height: 58px;
    border-radius: 10px;
    border: 1px solid rgba(188, 188, 188, 1);
    position: relative;
    cursor: pointer;
}

.application input[type="date"]::-webkit-calendar-picker-indicator {
    width: 19px;
    height: 18px;
    opacity: 0.1;
    margin-right: 10px;
    z-index: 2;
    cursor: pointer;
}

.application input[type="date"]::after {
    position: absolute;
    content: url('../Images/createjobcalender.png');
    width: 16px;
    height: 18px;
    right: 13px;
    top: 17px;
    z-index: 1;
}



.dateShow {
    color: transparent;
}

.dateNotShow {
    color: black;
}

.lineFour {
    display: flex;
    justify-content: center;
    padding-left: 20px;

}

.lineFour textarea::placeholder {
    color: #BCBCBC;
}

.lineFour textarea {
    padding-left: 20px;
    padding-top: 10px;
    width: 768px;
    height: 169px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    font-family: 'Satoshi' !important;
    font-size: medium;
    color: #000000ee;
}

.lineFive {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 20px;

}

.draftbtnContainer {
    width: 232px;
    height: 59px;
    border: 1.5px solid rgba(34, 34, 34, 1);
    border-radius: 10px;
}

.draftbtn {
    width: 232px;
    height: 59px;
    padding: 16px 60px 16px 60px;
    font-family: 'Satoshi' !important;
    font-size: 20px;
    font-weight: 600;
    color: rgba(34, 34, 34, 1);
    background-color: transparent;
    cursor: pointer;
}

.publishbtnContainer {
    width: 207px;
    height: 59px;
    border-radius: 10px;
    background-color: rgba(0, 170, 255, 1);
}

.publishbtn {
    text-wrap: nowrap;
    width: 207px;
    height: 59px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Satoshi' !important;
    font-size: 20px;
    font-weight: 600;
    padding: 16px 60px 16px 60px;
    border: none;
    cursor: pointer;
    background-color: rgba(0, 170, 255, 1);
}

@media screen and (max-width: 700px) {
    .JobAddingContainer {
        width: 300px;
        height: fit-content;
        position: absolute;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .lineOne,
    .lineTwo,
    .lineThree,
    .lineFour,
    .lineFive {
        grid-template-columns: 1fr;
        padding-left: 20px;
    }

    .lineFive {
        gap: 5px;
        padding-bottom: 10px;
    }

    .inputBox,
    .dropDownInputBox,
    .application input,
    .lineFour textarea {
        width: 250px;
    }

    .closeSymbol {
        top: 5px;
        right: 2px;
    }

    .application {
        padding-top: 10px
    }

    .salaryInput {
        flex-direction: column;
        padding-left: 10px;
    }


}